In [1]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

After importing the libraries, we set the csv file to a dataframe and view the first 5 rows of the table

In [3]:
df = pd.read_csv("../input/2019-winter-data-science-intern-challenge-data-set/2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv")

df.head(5)

The column names match the csv file, as does the data below them.

We then check the data for null values.

In [4]:
print("number of null values for the order_id column :", df['order_id'].isnull().sum())
print("number of null values for the shop_id column :", df['shop_id'].isnull().sum())
print("number of null values for the user_id column :", df['user_id'].isnull().sum())
print("number of null values for the order_amount :", df['order_amount'].isnull().sum())
print("number of null values for the total_items column :", df['total_items'].isnull().sum())
print("number of null values for the payment_method column :", df['payment_method'].isnull().sum())
print("number of null values for the created_id column :", df['created_at'].isnull().sum())

We did not find any null values.

We then move on to explore our data, making notes on the distribution of the data, the mean, median, and outliers.

In [5]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [24]:
df['order_amount'].describe()

We note that out largest value is $704,000.

We create a visualization of the distribution

In [30]:
df['order_amount'].plot(kind='box', figsize=(5, 10))

plt.title('Distribution of Order Amount Data')
plt.ylabel('Amount Ordered')

plt.show()

From this visualization, we note that there are atleast 6 large outliers in our dataset.

Outliers have the ability to cause issues in our statistical analysis, as larger outliers can increase the value of our mean. Upon analysis of the data, we discovered that the largest outlier was $704,000. 
Determining the median, which is $284, would be a more effective way of determining the central tendency of the data. Also, observing the range of data between the lower and upper quartile ($163 and $390, respectively) tells us that though the average is $3145.13 is inaccurate if we are observing central tendencies of our data.